{
  "extends": ["airbnb-base", "airbnb-typescript/base"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "semi": ["error", "never"],
    "@typescript-eslint/semi": ["error", "never"],
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "import/extensions": "off",
    "class-methods-use-this": "off",
    "consistent-return": "off"
  }
}
